<!DOCTYPE html>
<html>
  <head>
    <title>TrueMeteo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container-fluid">
    <%= render partial: "layouts/nav" %>
    <div class="container">
      <%= yield %>
    </div>
    <div class="container sticky-bottom" >
      <%= render partial: "layouts/footer"%>
    </div>
  </body>
</html>







